.container {
    display: flex;
    margin: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 3px #75757578;
}

.container div {
    padding: 15px;
}

.container div.check {
    background-color: #8C5FCC;
    border-radius: 20px 0px 0px 20px;
}

.container div.right {
    margin-left: auto;
}