.formRow {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

.event-information input {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #E4D8FB;
    color: black;
}

.saveEvent {
    background-color: #8C5FCC;
    color: white;
}

