.headerDate {
    font-weight: bold;
}

.topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerButtons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerButtons button {
    flex: 0 0 auto;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendarTitle {
    margin: 0;
}

.headerDate {
    margin-top: 0px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 100;
}

.addEventButton {
    padding: 0px 18px;
    background-color: #8C5FCC;
    color: rgba(255, 255, 255, 0.9);
}

.week {
    display: flex;
}

.day {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerDays {
    padding-top: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.headerDays p {
    margin: 0;
    font-weight: 100;
}

.timeSpacer {
    width: 50px;
}

.scrollbarSpacer {
    width: 20px;
}

.arrow-button {
    background-color: #8C5FCC;
    color: rgba(255, 255, 255, 0.9);
}

.view-button {
    background-color: #8C5FCC;
    color: rgba(255, 255, 255, 0.9);
}

.monthInArrows {
    font-size: 25px;
}